---
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';
import HeroText from '~/components/widgets/HeroText.astro';
import { getGames } from '~/lib/directus.ts';
import Features2 from '~/components/widgets/Features.astro';
import Image from 'astro/components/Image.astro';
import Button from '~/components/ui/Button.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Stats from '~/components/widgets/Stats.astro';
import Content from '~/components/widgets/Content.astro';
import BlogHighlightedPosts from '~/components/widgets/BlogHighlightedPosts.astro';
import RelatedPosts from '~/components/blog/RelatedPosts.astro';
import { findPostsBySlugs } from '~/utils/blog';
import { Icon } from 'astro-icon/components';

const metadata = {
  title: 'Striker Ball',
};
const game_query = await getGames();
const game = game_query.studio_games.find((x) => x.tag.slug == 'striker-ball');
---

<Layout metadata={metadata}>
  <Hero tagline="Video Game" title={game?.title} subtitle={game?.description_short}>
    <Fragment slot="image">
      <img
        class="relative"
        style="border-radius: 30px;"
        src={`https://directus.katharostech.com/assets/${game?.image.id}`}
      />
      <!-- <div class="bg-orange-600 absolute rotate-45 top-2 right-1 font-bold" style="border-radius: 30px; padding: 10px">
        Beta
      </div> -->
    </Fragment>
    <Fragment slot="content">
      <Stats
        stats={[
          {
            title: 'Players',
            amount: '1-4',
          },
          {
            title: 'Versus',
            amount: '2 Team',
          },
          {
            title: 'Play',
            amount: 'Offline',
          },
          {
            title: 'Play',
            amount: 'LAN',
          },
        ]}
      />
    </Fragment>
  </Hero>
  <div class="max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400">
    <p
      class="text-xl text-muted mb-6 dark:text-slate-300 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
      set:html={game?.description}
    />
  </div>
  <!-- <section class="bg-orange-600 dark:bg-orange-600 not-prose">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
      <span class="font-bold">
        <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> Beta:<br /></span
      > We're still working out the the kinks, please test and contact us below about any issues you have playing.
    </div>
  </section> -->
  <br />
  <section class="bg-orange-600 dark:bg-orange-600 not-prose">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
      <span class="font-bold">
        <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> Platforms:<br /></span
      > Not all platforms are tested yet, please test and contact us below about any issues you have playing.
    </div>
  </section>
  <CallToAction
    title="Support the Project"
    subtitle="Donate to support game engine development and future games!"
    actions={[
      {
        text: 'Support The Project',
        icon: 'tabler:coin',
        variant: 'primary',
        href: game?.payment_link,
      },
    ]}
  />
  <CallToAction
    id="downloads"
    title="Free Downloads"
    subtitle="Try out the web demo in your browser or download the game for free!"
    actions={[
      {
        text: 'Demo',
        icon: 'tabler:world',
        variant: 'primary',
        href: game?.demo_link,
      },
      {
        text: 'Linux',
        icon: 'tabler:download',
        variant: 'primary',
        href: game?.download_link_linux,
      },
      {
        text: 'Windows',
        icon: 'tabler:download',
        variant: 'primary',
        href: game?.download_link_windows,
      },
      {
        text: 'Mac (ARM)',
        icon: 'tabler:download',
        variant: 'primary',
        href: game?.download_link_mac_arm,
      },
      {
        text: 'Mac (x86)',
        icon: 'tabler:download',
        variant: 'primary',
        href: game?.download_link_mac_x86,
      },
    ]}
  />
  <CallToAction
    title="Read More"
    subtitle="Read about the Skeleton Crew's experience making the game.<br/>Or, Check out the release notes to see what's changed!"
    actions={[
      {
        text: 'Striker Ball Tag Page',
        icon: 'tabler:tag',
        variant: 'primary',
        href: getPermalink(`/tag/${game?.tag.slug}`),
      },
      {
        text: 'Release Notes',
        icon: 'tabler:rocket',
        variant: 'primary',
        href: 'https://github.com/katharostech/striker-ball/releases',
      },
    ]}
  />
  <CallToAction
    title="Get The Source"
    subtitle="Want to see the inner workings?</br>Get the source on Github.com!"
    actions={[
      {
        text: 'Source Code',
        icon: 'tabler:brand-github',
        variant: 'primary',
        href: game?.source_link,
      },
    ]}
  />
  <CallToAction
    title="Contact Us"
    subtitle="Having problems with the game?</br>Submit a bug report or feature request on our contact page!"
    actions={[
      {
        text: 'Contact Us',
        icon: 'tabler:speakerphone',
        variant: 'primary',
        href: '/contact',
      },
    ]}
  />
</Layout>
